@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@100;400;700&family=Sedgwick+Ave+Display&display=swap');

body {
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-white : #FFFFFF;
  --primary-black : #000000;
  --primary-light-gray : #dbdbdb;
  --primary-dark-gray : #666666;
  
  --secondary-green: #3bcf00;
  --secondary-red: #ff0000;
  --secondary-yellow: #fbff00;
}


a{
  text-decoration: none;
  color: inherit;
}

h2{
  margin: 0px;
}

h3{
  margin: 0px;
}

.pages-container{
  min-height: calc(100vh - 302px);
}

.logo{
  font-family: 'Sedgwick Ave Display';
  font-size: 36px;
  cursor: pointer;
  margin-left: 100px;
  font-weight: 700;
}

.input-row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;
    gap: 5px;   
}

.form-icon{

    height: 100%;
    width: 15%;
}

.form-input{
  height: 100%;
  width: 85%;
  outline: none;
  border: 2px solid black;
  text-indent: 20px;
  border-radius: 16px;
}

.form-btn{
    width: 50%;
    height: 50px;
    background-color: var(--primary-black);
    color: var(--primary-white);
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 16px;
}

.form-btn:hover{
  background-color: var(--primary-white);
  color: var(--primary-black);
  border: 2px solid var(--primary-black);
  cursor: pointer;
}

.scroll-style::-webkit-scrollbar{
  width: 10px;
}

.scroll-style::-webkit-scrollbar-track {
  background: var(--primary-dark-gray);
}

.scroll-style::-webkit-scrollbar-thumb {
  background: var(--primary-black);
}

.scroll-style::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark-black);
}

@media screen and (max-width:768px){
  .logo{
    font-size: 24px;
    margin-left: 25px;
  }
}

@media screen and (max-width:580px){
  .logo{
    font-size: 20px;
    margin-left: 15px;
  }

  .input-row{
    width: 70%;
  }

  .form-footer{
      font-size: 12px;
  }
  
  .form-btn{
      width: 70%;
  }
}