.checkout-item-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 40%;
    outline: 2px solid var(--primary-light-gray);
    padding-bottom: 5px;
    align-self: center;
}

.checkout-item-image{
    height: 45%;
}

.checkout-item-poster-info{
    height: 15%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 15px;
}

.checkout-item-subheading{
    height: 5%;
    font-size: 13px;
    margin-left: 10px;
}

.checkout-item-description{
    height: 20%;
    display: flex;
    font-size: 14px;
    margin-left: 10px;
}

.remove-from-cart-checkout{
    width: 50%;
    height: 15%;
    background-color: var(--primary-black);
    color: var(--primary-white);
    margin-left: auto;
    margin-right: auto;
}

.remove-from-cart-checkout:hover{
    background-color: var(--primary-white);
    color: var(--primary-black);
    border: 2px solid var(--primary-black);
    cursor: pointer;
}