.profile-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 20px;
}

.rating-avg{
    margin: 0;
    align-self: flex-end;
}

.rating-gray{
    color: var(--primary-dark-gray);
    font-size: 50px;
}

.rating-yellow{
    color: var(--secondary-yellow);
    font-size: 50px;
}


@media screen and (max-width:768px){
    
    .rating-gray{

        font-size: 30px;
    }
    
    .rating-yellow{

        font-size: 30px;
    }
}

@media screen and (max-width:580px){
    
    .rating-gray{
        font-size: 20px;
    }
    
    .rating-yellow{
        font-size: 20px;
    }

    .rating-avg{
        font-size: 12px;
    }
}