.logout-btn{
    width: 100px;
    height: 40px;
    background-color: var(--primary-black);
    color: var(--primary-white);
    border: none;
    font-size: 16px;
}

.logout-btn:hover{
    background-color: var(--primary-white);
    color: var(--primary-black);
    border: 2px solid var(--primary-black);
    cursor: pointer;
}

@media screen and (max-width:580px){

    .logout-btn{
        width: 60px;
        height: 30px;
        font-size: 14px;
    }
}