.add-to-cart{
    height: 15%;
    font-size: 36px;
    float:right;
}

.add-to-cart:hover{
    color: var(--secondary-green);
    cursor: pointer;
}

@media screen and (max-width:768px){
    .add-to-cart{
        font-size: 28px;
    }
}

@media screen and (max-width:430px){


    .add-to-cart{
        font-size: 20px;
    }
}