.cart-container{
    position: absolute;
    height: 600px;
    width: 300px;
    right: 200px;
    top: 60px;
    background-color: var(--primary-light-gray);
    border: 1px solid var(--primary-black);
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    overflow-y: scroll;
}
