.filters-nav{
    background-color: var(--primary-white);
    color: var(--primary-black);
    border-left: 2px solid var(--primary-black);
    border-right: 2px solid var(--primary-black);
    border-bottom: 2px solid var(--primary-black);
    height: 50px;
}

.filters{
    display: flex;
    list-style: none;
    height: 100%;
    padding-left: 0;
    margin-top: 0;
}

.filter{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

.filter-selected{
    background-color: var(--primary-black);
    color: var(--primary-white);
}

.filter:hover{
    cursor: pointer;
    background-color: var(--primary-black);
    color: var(--primary-white);
}

@media screen and (max-width:580px){
    .filters-nav{
        font-size: 12px;
    }
  }