.checkout-btn{
    height: 40px;
    width: 100px;
    color: var(--primary-black);
    background-color: var(--primary-white);
    border: 2px solid var(--primary-black);
    outline: none;
    font-weight: 700;
    font-size: 16px;
  }

  .checkout-btn:hover{
    background-color: var(--primary-black);
    color: var(--primary-white);
    cursor: pointer;
  }

  @media screen and (max-width:768px){
    .checkout-btn{
      width: 80px;
      font-size: 12px;
    }

  }

  @media screen and (max-width:580px){
    .checkout-btn{
      width: 70px;
      font-size: 10px;
      height: 30px;
    }

  }