.delete-listing-btn{
    width: 150px;
    height: 10%;
    outline: none;
    border: none;
    background-color: var(--primary-black);
    color: var(--primary-white);
    float:right;
    margin-right: 5px;
}

.delete-listing-btn:hover{
    border: none;
    background-color: var(--primary-white);
    color: var(--secondary-red);
    border: 2px solid var(--secondary-red);
    cursor: pointer;
}

@media screen and (max-width:768px){
    .delete-listing-btn{
        width: 100px;
        font-size: 12px;
    }
}

@media screen and (max-width:580px){
    .delete-listing-btn{
        width: 80px;
        font-size: 10px;
    }
}