.items-container{
    padding-bottom: 20px;
}

.items-display{
    display: flex;
    flex: 1 1 500px;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
}

.pagination-btns{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.pagination-btn{
    width: 100px;
    height: 40px;
    background-color: var(--primary-black);
    color: var(--primary-white);
    border: none;
}

.pagination-btn:hover{
    background-color: var(--primary-white);
    color: var(--primary-black);
    cursor: pointer;
    border: 2px solid var(--primary-black);
}