.item-container{
    width: 350px;
    height: 450px;
    background-color: var(--primary-white);
    color: var(--primary-black);
    border: 1px solid var(--primary-black);
}

.user-item-pfp{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.item-image{
    width: 100%;
    height: 40%;
}

.item-poster-info{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    height: 10%;
}

.item-subheading{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    margin-left: 10px;
    height: 5%;
}

.item-description{
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
    font-size: 14px;
    height: 15%;
}

.add-to-cart{
    font-size: 48px;
    float:right;
}

.add-to-cart:hover{
    color: var(--secondary-green);
    cursor: pointer;
}